Checks: >
  bugprone-*,
  clang-analyzer-*,
  misc-*,
  cppcoreguidelines-*,
  modernize-*,
  readability-*,
  -misc-unused-parameters,
  -misc-include-cleaner,
  -misc-use-internal-linkage,
  -modernize-use-trailing-return-type
