#regular stuff
/build
*.o
compile_commands.json

# in case of accidental source build
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
build.ninja
.ninja_deps
.ninja_log
/gtg

# os and editor things
.cache/
.DS_Store
.vscode/
.idea/
